@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --primary: #029ae0;
  --primary-100: #073044;
  --primary-200: #415a66;
  --primary-300: #017cb3;
  --primary-400: #50b6e6;
  --background: #202124;
  --background-100: #26282b;
  --background-200: #3b3c3f;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-base: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-3xl: 22px;
}

* {
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar content';
  height: 100vh;
  background-color: var(--background);
  color: #fff;
}

/* general styles */
h2 {
  font-size: var(--font-3xl);
}

h3 {
  font-size: var(--font-2xl);
}

h4 {
  font-size: var(--font-xl);
}

h5 {
  font-size: var(--font-lg);
}

button {
  padding: 8px 15px;
  height: 40px;
  font-size: var(--font-base);
  color: white;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary);
}

button:hover {
  background-color: var(--primary-400);
}

/* Sidebar */

#sidebar {
  background-color: var();
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
  height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons li {
  list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

#nav-buttons li:hover {
  background-color: var(--primary);
}

#content {
}

/* Content styles */

header {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  background-color: var(--background-100);
  border-radius: 8px;
  cursor: pointer;
}

.project-card:hover {
  outline: 2px solid var(--primary);
}

.card-content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.card-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#projects-list {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
